<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Baba Eye Hospital, Chhattisgarh</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/HospitalDemoEye/logoEYEfavicon.png">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400%7CRoboto:900" rel="stylesheet" type="text/css" />
    <link href="~/HospitalDemoEye/lib/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/HospitalDemoEye/lib/css/settings.css" rel="stylesheet" />
    <link href="~/HospitalDemoEye/lib/css/layers.css" rel="stylesheet" />
    <link href="~/HospitalDemoEye/lib/css/navigation.css" rel="stylesheet" />
    <link href="~/HospitalDemoEye/style.css" rel="stylesheet" />
</head>
<body>

    <!-- Top Bar -->
    <div class="topBar">
        <div class="row">

            <div class="medium-6 small-12 columns">
               
            </div><!-- Left Column /-->

            <div class="medium-6 small-12 columns">
                <ul class="menu social pull-right">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                </ul>
            </div><!-- Left Column /-->

        </div><!-- Row /-->
    </div>


    <!-- Header -->
    <div class="header">
        <div class="row">

            <div class="medium-4 small-12 columns logo">
                <a href="#"><img src="~/HospitalDemoEye/logoEYE.png" alt="Webful Vision Eye Care" /></a>

            </div><!-- Logo /-->

            <div class="medium-8 small-12 columns">

                <div class="medium-4 small-12 columns medium-offset-5">
                    <div class="icon-box">
                        <div class="icon-side float-left">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div><!-- icon side /-->
                        <div class="info-side float-left">
                            <p>
                                <strong>
                                    Near Fafadih Choti Line,
                                    Raipur, CG
                                </strong>
                            </p>
                        </div><!-- info side /-->
                        <div class="clearfix"></div>
                    </div><!-- icon-box /-->
                </div><!-- Column Ends /-->

                <div class="medium-4 small-12 columns small-box">
                    <div class="icon-box">
                        <div class="icon-side float-left">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div><!-- icon side /-->
                        <div class="info-side float-left">
                            <p>
                                <strong>0771-4037979</strong>
                            </p>
                        </div><!-- info side /-->
                        <div class="clearfix"></div>
                    </div><!-- icon-box /-->
                </div><!-- Column Ends /-->

            </div><!-- Right side /-->

        </div><!-- Row /-->
    </div>
    <!-- Header Ends /-->
    <!-- Navigation Starts -->
    <div class="navigation">
        <div class="row">

            <!-- navigation Code STarts here.. -->
            <div class="top-bar">
                <div class="top-bar-title">
                    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
                        <a data-toggle><span class="menu-icon dark float-left"></span></a>
                    </span>
                </div>

                <nav id="responsive-menu" class="menu-centered">
                    <ul class="menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown" style="margin-left:-20PX;">
                        <li class="single-sub parent-nav">
                            <a href="@Url.Action("Index","HomeEye")">Home</a>

                        </li>
                        <li class="single-sub parent-nav">
                            <a href="#"> About Us </a>
                            <ul class="child-nav menu vertical">
                                <li><a href="@Url.Action("AboutUsRaipur","HomeEye")">Our Hospitals</a></li>
                                <li><a href="#">Vision & Mission</a></li>
                                <li><a href="#">Infrastructure</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">Achivements</a></li>

                            </ul>
                        </li>
                        <li class="single-sub parent-nav">
                            <a href="#">Services</a>
                            <ul class="child-nav menu vertical">
                                <li><a href="@Url.Action("Services","HomeEye")">Glaucoma</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">LaSic Eye Surgery</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">Cornea</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">Orbit & Oculoplasty</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">SQUINT</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">PEDIATRIC EYE CARE</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">HEADACHE</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">DIABETIC RETINOPATHY</a></li>
                                <li><a href="@Url.Action("Services","HomeEye")">CATARACT SURGERY</a></li>
                            </ul>
                        </li>
                        <li class="single-sub parent-nav">
                            <a href="#"> DOCTORS</a>
                            <ul class="child-nav menu vertical">
                                <li><a href="@Url.Action("Doctors","HomeEye")">SBH EYE HOSPITAL, RAIPUR</a></li>
                                <li><a href="#">SBH EYE HOSPITAL, BHILAI</a></li>
                            </ul>
                        </li>
                        <li class="single-sub parent-nav">
                            <a href="@Url.Action("Event","HomeEye")">EVENTS</a>
                        </li>
                        <li class="single-sub parent-nav">
                            <a href="#"> MEDIA</a>

                            <ul class="child-nav menu vertical">
                                <li><a href="@Url.Action("Blog","HomeEye")">BLOG</a></li>
                                <li><a href="#">Media Coverage</a></li>
                                <li><a href="#">T.V. Interview / Video</a></li>
                                
                            </ul>

                        </li>
                        <li class="single-sub parent-nav">
                            <a href="@Url.Action("Career","HomeEye")">CAREER</a>
                        </li>
                        <li class="single-sub parent-nav">
                            <a href="#">TPA</a>
                        </li>
                       
                        <li class="single-sub parent-nav">
                            <a href="@Url.Action("ContactUs","HomeEye")">CONTACT US</a>
                        </li>

                        <li class="single-sub parent-nav">
                        <a href="#">360 VIRTUAL TOUR</a>
                            <ul class="child-nav menu vertical">
                                <li><a href="#">SBH EYE HOSPITAL, RAIPUR</a></li>
                                <li><a href="https://360.goterest.com/sphere/sai-baba-eye-hospital-bhilai" target="_blank">SBH EYE HOSPITAL, BHILAI</a></li>
                            </ul>
                        </li>



                        <li class="single-sub parent-nav"><a href="#">SOCIAL</a></li>

                    </ul>
                </nav>
            </div><!-- top-bar Ends -->
            <!-- Navigation Code Ends here -->

        </div><!-- Row Ends /-->
    </div>
    <!-- Navigation Ends /-->


    <div class="container body-content">
        @RenderBody()

    </div>



    <!-- Footer -->
    <div class="footer">
        <div class="footerTop">
            <div class="row">

                <div class="large-3 medium-6 small-12 columns footer-widget">
                    <h2>About Us</h2>
                    <div class="tx-div"></div>
                    <p style="text-align:justify">Sai Baba Eye Hospital is a Super Specialty Eye Hospital located at Fafadih, Raipur. Established on November 2002 by Dr. Ashish Mahobia with in a single room. In a short span of 10 years we are proud to be one of the leading eye care hospitals in the state Chhattisgarh with 8 examination chambers, 2 operation theaters and a library.</p>
                    <a href="@Url.Action("Appointment","HomeEye")" data-open="appointment_modal" class="button secondary">Get Appointment</a>
                </div><!-- Widget 1 ends /-->

                <div class="large-3 medium-6 small-12 columns footer-widget quick-links">
                    <h2>Quick Links</h2>
                    <div class="tx-div"></div>
                    <ul class="menu vertical">
                        <li><a href="@Url.Action("Index","HomeEye")">Home</a></li>
                        <li><a href="@Url.Action("AboutUsRaipur","HomeEye")">About Us</a></li>
                        <li><a href="@Url.Action("Services","HomeEye")">Services</a></li>
                        <li><a href="@Url.Action("Doctors","HomeEye")">Doctors</a></li>
                        <li><a href="@Url.Action("Event","HomeEye")">Events</a></li>
                       
                    </ul>
                    <ul class="menu vertical">
                        <li><a href="@Url.Action("Media","HomeEye")">Media</a></li>
                        <li><a href="@Url.Action("Career","HomeEye")">Career</a></li>
                        <li><a href="#">TPA</a></li>
                        <li><a href="@Url.Action("ContactUs","HomeEye")">Contact Us</a></li>
                        <li><a href="#">360 Virtual Tour</a></li>
                        
                    </ul>
                </div><!-- Widget 2 Ends /-->

                <div class="large-3 medium-6 small-12 columns footer-widget">
                    <h2>Institute Hours</h2>
                    <div class="tx-div"></div>
                    <ul class="vertical office-hours">
                        <li>Monday: 09:00 - 17:00 </li>
                        <li>Tuseday: 09:00 - 17:00</li>
                        <li>Wednesday: 09:00 - 17:00</li>
                        <li>Thursday: 09:00 - 17:00</li>
                        <li>Friday: 09:00 - 17:00</li>
                        <li>Saturday, Sunday: Only By Appointment</li>
                    </ul>
                </div><!-- Widget 3 Ends /-->

                <div class="large-3 medium-6 small-12 columns footer-widget">
                    <div class="textwidget">
                        <ul class="address">
                            <li>
                                <i class="fa fa-home"></i>
                                <h4>Address:</h4>
                                <p>
                                    Near Fafadih Choti Line,
                                    Raipur, Chhattisgarh
                                    Pin 492001 India
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <h4>Phone:</h4>
                                <p>+91-0771-4037979, 4025063, 9644099926</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <h4>Email:</h4>
                                <p>operation.eye@sbhhospital.com<br /> dram@sbhhospital.com</p>
                            </li>
                        </ul>
                        <hr>
                        <div class="socialicons">
                            Social:
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </div><!-- Social Icons /-->
                    </div><!-- text widget /-->
                </div><!-- widget 4 /-->
                <div class="clearfix"></div>

            </div><!-- Row Ends /-->
        </div><!-- footerTop Ends here.. -->

        <div class="footerbottom">
            <div class="row">

                <div class="medium-6 small-12 columns">
                    <div class="copyrightinfo">2019 &copy; <a href="#">Sai Baba Hospitals</a> All Rights Reserved.</div>
                </div><!-- left side /-->
                @*<div class="medium-6 small-12 columns hide-for-small-only">
                    <div class="pull-right">
                        Design & Developed By <a href="#" target="_blank" style="color:#0026ff;font-weight:bold"></a>
                    </div>
                </div>*@<!-- Right Side /-->

            </div><!-- Row /-->
        </div><!-- footer Bottom /-->
    </div>
    <!-- Footer Ends here /-->

    <script src="~/HospitalDemoEye/js/jquery-1.12.3.min.js"></script>
    <script src="~/HospitalDemoEye/js/foundation.min.js"></script>

    <script src="~/HospitalDemoEye/js/owl.carousel.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/jquery.themepunch.tools.min.js"></script>


    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/HospitalDemoEye/lib/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/HospitalDemoEye/js/webful.js"></script>
</body>
</html>
