<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Baba Hospital Raipur</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/HospitalDemoEye/logoEYEfavicon.png">



    <link href="~/HospitalDemoSimple/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/HospitalDemoSimple/css/style.css" rel="stylesheet" />
    <link href="~/HospitalDemoSimple/css/responsive.css" rel="stylesheet" />

</head>
<body>

    <div class="preloader"></div>

    <div class="header-topbar style-2">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-8 col-sm-6 welcome-top">
                    <ul class="list-inline top-icon">
                        <li><i class="fa fa-envelope"></i> enquiry.women@sbhhospital.com</li>
                        <li><i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="list-inline text-right icon-style-1">
                        <li class=" hvr-rectangle-out"><a href="https://twitter.com/saibabanursing"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="https://www.facebook.com/saibabawomenshospital/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="main-navbar conner-style style-2 position-fixed">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand dis-none" href="#">
                                <img src="~/HospitalDemoSimple/logo.png" style="height:60px;" alt="">

                            </a>
                            <a class="navbar-brand dis-block" href="#">
                                <img src="~/HospitalDemoSimple/logo.png" style="height:60px;" alt="">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations-delay="1.8s" data-animations="fadeInUp">
                            <ul class="nav navbar-nav bg-none navbar-right style-3">
                                <li class="dropdown active">
                                    <a href="@Url.Action("Index","Home")"><span data-hover="Home">Home </span> </a>

                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Depertment">About Us <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("About","Home")">SAI BABA NURSHING HOME </a>
                                        </li>
                                        <li>
                                            <a href="#">VISION & MISSION</a>
                                        </li>
                                        <li>
                                            <a href="#">INFRASTRUCTURE</a>
                                        </li>
                                        <li>
                                            <a href="#">COMMUNITY</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span data-hover="Doctors">Services <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="@Url.Action("Department","Home")">LAPROSCOPY</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">COLPOSCOPY</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">HYSTEROSCOPY</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">NST MACHINE</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">MENOPAUSE CLINIC</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">BREAST CANCER TREATMENT</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">MALFORMATION</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">CRYO CAUTERISTATION</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">FOLLICULAR STUDY</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">MTP AND FAMILY PLANNING</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">INTRAUTERINE INSEMINATION</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">SONOGRAPHY</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Department","Home")">PATHOLOGY</a>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Department","Home")">AMBULANCE SERVICES</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">FIGHTING OUT FIBROIDS</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">OVARIAN CYSTS</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Department","Home")">COPING WITH INFERTILITY</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Doctors","Home")"><span data-hover="Portfolio">DOCTORS </span></a>

                                </li>
                                <li class="dropdown">
                                    <a href="@Url.Action("Accommodation","Home")"><span data-hover="Pages">ACCOMMODATION </span></a>

                                </li>
                                <li class="dropdown">
                                    <a href="@Url.Action("Career","Home")"><span data-hover="Blog">CAREERS </span></a>

                                </li>
                                <li class="dropdown">
                                    <a href="@Url.Action("TPA","Home")"><span data-hover="Contact">TPA </span></a>

                                </li>

                                <li class="dropdown">
                                    <a href="@Url.Action("Contact","Home")"><span data-hover="Contact">CONTACT US </span></a>

                                </li>

                               
                                <li class="dropdown">
                                    <a href="@Url.Action("Social","Home")"><span data-hover="Contact" style="font-weight:bold">SOCIAL </span></a>

                                </li>

                                <li class="dropdown">
                                    <a href="@Url.Action("Blog","Home")"><span data-hover="Contact" style="font-weight:bold">BLOG </span></a>

                                </li>



                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        @RenderBody()

    </div>


    <footer class="bg-faded">
        <div class="container">
            <div class="section-content">
                <div class="row margin-top-30">
                    <div class="col-md-3">
                        <div class="footer-item footer-widget-one">
                            <img alt="" src="~/HospitalDemoSimple/logo.png" class="footer-logo">
                            <br />
                            Sai Baba Nursing Home was started in the year 2003. It has now become a leading private Hospital of Chhattisgarh.
                            Sai Baba Nursing Home is providing the complete care for the Women.
                            <br /><br />
                            <ul class="address">
                                <li><i class="pe-7s-call"></i>Phone: 0771-4017979, 4047462</li>
                                <li><i class="pe-7s-mail"></i><a href="mailto:enquiry.women@sbhhospital.com">enquiry.women@sbhhospital.com</a></li>
                            </ul>

                            <hr>
                            <ul class="social-icon bg-theme">
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Our Peges </h4>
                                <div class="border-style-2"></div>
                            </div>
                            <ul class="footer-list border-deshed color-icon">
                                <li><i class="pe-7s-angle-right"></i><a href="#">About Us</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Services</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Media</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Blog</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Our Services </h4>
                                <div class="border-style-2"></div>
                            </div>
                            <ul class="footer-list border-deshed color-icon">
                                <li><i class="pe-7s-angle-right"></i><a href="#">Doctors</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Accommodation</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Careers</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">TPA</a></li>
                                <li><i class="pe-7s-angle-right"></i><a href="#">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-item clearfix">
                                <div class="footer-title">
                                    <h4>Fliker Feed</h4>
                                    <div class="border-style-1"></div>
                                </div>
                                <div class="flicker-feed gutter">
                                    <a href="~/HospitalDemoSimple/img/flicker/1.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/1.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/2.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/2.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/3.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/3.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/4.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/4.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/5.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/5.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/6.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/6.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/7.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/7.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/8.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/8.jpg" alt=""></a>
                                    <a href="~/HospitalDemoSimple/img/flicker/9.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/HospitalDemoSimple/img/flicker/9.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="footer-copy-right bg-f9">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>© 2019, All Rights Reserved</p>
                </div>
            </div>
        </div>
    </section>


    <a href="#" class="scrollup"><i class="pe-7s-up-arrow" aria-hidden="true"></i></a>
    <script src="~/HospitalDemoSimple/js/jquery.min.js"></script>
    <script src="~/HospitalDemoSimple/js/bootstrap.min.js"></script>
    <script src="~/HospitalDemoSimple/js/bootstrap-datepicker.min.js"></script>
    <script src="~/HospitalDemoSimple/js/css3-animate-it.js"></script>
    <script src="~/HospitalDemoSimple/js/bootstrap-dropdownhover.min.js"></script>
    <script src="~/HospitalDemoSimple/js/owl.carousel.min.js"></script>
    <script src="~/HospitalDemoSimple/js/gallery.js"></script>
    <script src="~/HospitalDemoSimple/js/player.min.js"></script>
    <script src="~/HospitalDemoSimple/js/retina.js"></script>
    <script src="~/HospitalDemoSimple/js/comming-soon.js"></script>
    <script src="~/HospitalDemoSimple/js/script.js"></script>


</body>
</html>
